body{
    background-image: url("img/bg1.jpg");
    max-width: 100% !important;
    height: 100%;
    background-size: cover ;
    background-repeat: no-repeat;


}
.brand-logo{
    margin-left:5vh !important;
    color:black !important;
    font-family: 'Alegreya Sans', sans-serif !important;
}


.m{
    font-size: 3vh !important;
    color:black !important;
    margin-right: 5vh;
    font-family: 'Alegreya Sans', sans-serif !important;
}
nav{
    background-color: rgba(0,0,0,0.1)!important;
}

.c1{
    margin-top: 50px;
    font-family: 'Alegreya Sans', sans-serif !important;
}




.slotTable{
    background-color: rgba(242,242,242,0.8) !important;
    text-align: center!important;
    font-family: 'Montserrat', sans-serif !important;
}

td
{
    text-align: center!important;
}
#title, #fac{
    font-size: 3vh !important;
    color:black !important;
    font-family: 'Montserrat', sans-serif !important;
}
.font1{
    font-family: 'Alegreya Sans', sans-serif !important;
}

/*CSS FOR SWITCH*/
/* The switch - the box around the slider */

.switch label input[type=checkbox] +.lever {
    font-size: 4vh !important;
    background: linear-gradient( to left,  yellow, deeppink) !important;
    opacity: 0.8;

}

.switch label input[type=checkbox] +.lever:after {
    background-color: rgba(132,132,191) !important;
}
#sw1{
    border-left: none;
    border-right: none;
    border-top:none;
    border-width: 2px;
    border-color: black;
    max-width:70%;
}
/*CSS END*/

.DataBase{
    width: 100%;
    overflow-x: scroll;
}